<div id="<%= dom_id category %>">
  <div class="d-flex">
      <%= image_tag "#{category.icon}", size: "150x150", alt: 'icon' %>
    <div>
      <%= category.name %>
      <%#= Transaction.total_amount(@category.transaction) %>
    </div>
  </div>
</div>
