
    <div id="<%= dom_id transaction %>" >
      <p>
        <strong>Name:</strong>
        <%= transaction.name %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= number_to_currency(transaction.amount) %>
      </p>
      
      <p>
        <strong>Date:</strong>
        <%= transaction.created_at.strftime('%F - %I:%M:%S %p') %>
      </p>

    </div>
